body{
	background-color:black;
	background-image:url('./res/bg.jpg');
	overflow:hidden;
	position:fixed;
	overflow:hidden;
	height:auto;
	width:auto;
	margin:0px;
	padding:0px;
	z-index:1;
	height:100vh;
	width:100vw;
	cursor: url('./res/cursor/normal.cur'), auto;
}
body:hover{
	cursor: url('./res/cursor/normal.cur'), auto;
}
body:active{
	cursor:url('./res/cursor/click.cur'), grabbing;
}
canvas div{
	margin:0px;
	padding:0px;
}
#sceneWrapper{ 
	height:100%;
	width:100%;
	position:fixed;
	z-index:2;
}
.scene2Button{
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	border:none;
	background-color:transparent;
	filter: drop-shadow(-5px 5px rgba(250,200,200,0.3));
}
.scene2Button:hover{
	cursor:url('./res/cursor/help.cur'), help;
	transform:scale(0.95,0.95);
}
.scene2Button:active{
	cursor:url('./res/cursor/click.cur'), grabbing;
}

