body{
	background-color:black;
	font-family:"sherwood",serif;
	background-image:url('./res/bg.jpg');
	overflow:hidden;
	margin:0px;
	padding:0px;
	z-index:1;
	color:ivory;
}
@font-face{
	font-family:'sherwood';
	src:url('./res/font/sherwood.woff2');

}
body:active{
	cursor:url('./res/cursor/click.cur'), grabbing;
}
body:hover{
	cursor: url('./res/cursor/normal.cur'), auto;
}
h1{
	position:absolute; 
	left:50%; 
	top:50%;  
	text-align:center; 
	transform:translate(-50% ,-50%);
}
canvas div{
	margin:0px;
	padding:0px;
}
.background{	
	height:100%;
	width:100%;
	position:fixed;
}
.uiButton{
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	border:none;
	background-color:transparent;
	filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.5));
}
.uiButton:hover{
	cursor:url('./res/cursor/help.cur'), help;
	transform:scale(1.1);
	filter: drop-shadow(5px 5px 2px rgba(50,50,50,0.5));
}
.uiButton:active{
	cursor:url('./res/cursor/click.cur'), grabbing;
	transform:scale(0.9);
	filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.2));
}
.uiWrapper{
}
.selector{
	width:100%;
	height:10%;
}
.buttonsContainer{
	display:flex;
	flex-direction:column;
	height:100%;
	width:25%;
}
.buttonsContainer button{
	height:50%;
	width:100%;
}
.character{
	width:70%;
	height:12%;
	margin:2px 15%;
	border: medium outset rgba(250,180,50,0.5);
	border-radius:2px;
}
.textWrapper{
	background-image:url('./res/scene4/textureD.png');
	border:medium double #130606;
	width:30%;
	height:100%;
	overflow:hidden;
}
