body{
	background-color:black;
	overflow:hidden;
	position:fixed;
	overflow:hidden;
	height:auto;
	width:auto;
	margin:0px;
	padding:0px;
	z-index:1;
	height:100vh;
	width:100vw;
}
canvas div{
	margin:0px;
	padding:0px;
}
#sceneWrapper{ 
	height:100%;
	width:100%;
	position:fixed;
	z-index:2;
}

